.bio{
    background-color: rgb(55, 55, 107);
    margin-bottom: 1%;
}
.center{
    text-align: center;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.bio .container {
    display: flex;
}
.bio .container .text{
    width: 47%;
    margin-left: 10%;

}
.bio .container .text p{
    margin-bottom: 30px;
}
.bio .container .text h2{
    padding-bottom: 30px;
}
.bio .container .photo{
    width: 30%;
    display: flex;
    margin-left: 50px;
}
.profile{
    border-radius: 10%;
    padding: 15px;
}

