.resume{
    background-color: rgb(55, 55, 107);
    text-align: center;
}
.resume-link{
    text-align: center;
    display: flex;
    justify-content: center;
}
li{
    font-size: 20px;
}
h1{
    text-align: center;
}
h3{
    font-size: 40px;;
}
.resume-link:hover{
    filter: saturate(150%);
    box-shadow: 0 6px 15px 0 rgb(36, 92, 196);
    opacity: 1;
}
.skills{
    margin-right: 40px;
}
.bottom{
    margin-bottom: 20px;
}