.contact{
    background-color: rgb(55, 55, 107);
    margin-bottom: 1%;
    text-align: center;
}
.contact h1{
    text-align: center;
}
.contact {
    font-size: 48px;
    justify-content: center;
}
h2{
    margin-left: 15px;
}
.form{
    margin-top: 55px;
    margin-bottom: 55px;
}
.form > *{
    margin-bottom: 25px;
}
a {
    color:black;
    font-size:20px;
    text-decoration: none;
}