.footer {
  font-size: 48px;
  justify-content: center;
  align-items: center;
}
  
.footer a {
  color: var(--light);
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}
  
.footer a:hover {
  opacity: 1;
}
.footer img {
  border-radius: 20px;
  ;
}
.footer img:hover {
  filter: saturate(150%);
  box-shadow: 0 6px 15px 0 rgb(36, 92, 196)
}